

<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <title>登入 - layuiAdmin</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" th:href="@{/layuiadmin/layui/css/layui.css}"   href="../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" th:href="@{/layuiadmin/style/login.css}" href="../../../layuiadmin/style/admin.css" media="all">
  <link rel="stylesheet" th:href="@{/layuiadmin/style/admin.css}" href="../layuiadmin/style/admin.css" media="all">
</head>
<body>
  <div class="layadmin-user-login layadmin-user-display-show" id="LAY-user-login" style="display: none;">
    <div class="layadmin-user-login-main" style="margin-top: 50px">
      <div class="layadmin-user-login-box layadmin-user-login-header">
        <h2>化妆品管理系统</h2>
      </div>
      <div class="layui-form layui-form-pane layadmin-user-login-box  layadmin-user-login-body">
        <div class="layui-form-item"style="margin-left: 130px">
          <label class="layui-form-label layui-icon layui-icon-username" for="LAY-user-login-username">&nbsp;账号</label>
          <div class="layui-input-inline">
            <input type="text" name="username"  id="LAY-user-login-username" value="admin" lay-verType="tips" lay-verify="required" placeholder="账号"
                   class="layui-input">
          </div>
        </div>
        <div class="layui-form-item"style="margin-left: 130px">
          <label class="layui-form-label  layui-icon layui-icon-password"  for="LAY-user-login-password">&nbsp;密码</label>
          <div class="layui-input-inline">
            <input type="password" name="password" id="LAY-user-login-password" value="1" lay-verType="tips" lay-verify="required" placeholder="密码"
                   class="layui-input">
          </div>
        </div>
        <div class="layui-form-item"style="margin-left: 130px">
          <label class="layui-form-label layui-icon layui-icon-vercode" for="LAY-user-login-vercode">&nbsp;验证</label>
          <div class="layui-input-inline">
            <input type="text" name="vercode" id="LAY-user-login-vercode" value="1" lay-verType="tips" lay-verify="required" placeholder="图形验证码"
                   class="layui-input">
          </div>
          <div  style="float: left">
            <img th:src="@{/user/kaptcha/1}" class="layadmin-user-login-codeimg" id="LAY-user-get-vercode">
          </div>
        </div>
        <div class="layui-form-item"style="margin-left: 130px">
          <button class="layui-btn layui-btn-fluid" lay-submit lay-filter="LAY-user-login-submit">登 入</button>
        </div>
      </div>
    </div>
    <div style="text-align: center;">
      <p>© 2021 Lisa MIT license </p>
    </div>
  </div>

  <script th:src="@{/layuiadmin/layui/layui.js}" src="../../layuiadmin/layui/layui.js"></script>
  <script>
    layui.use('form', function(){
      var form = layui.form;
      var $=layui.$;
      //监听提交
      form.on('submit(LAY-user-login-submit)', function(data){
        $.ajax({
          url: "/user/login",
          type: "POST",
          data: data.field,
          dataType: 'json',
          // contentType : 'application/json;charset=utf-8',
          success: function (res) {
            if (res.code==0) {
              layer.msg('登入成功', {
                offset: '15px'
                , icon: 1
                , time: 1000
              }, function () {
                location.href = '/page/index'; //后台主页
              });
            } else {
              layer.msg(res.msg);
            }
          }
        })
        return false;
      });

      $(document).on("click",'#LAY-user-get-vercode', function(){
         this.src = "/user/kaptcha/" + (new Date).getTime()
      });
    });
  </script>
</body>
</html>