<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>layuiAdmin 网站用户 iframe 框</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" th:href="@{/layuiadmin/layui/css/layui.css}" href="../../../layuiadmin/layui/css/layui.css"
          media="all">
</head>
<body>
<div class="layui-form" lay-filter="layuiadmin-form-useradmin" id="layuiadmin-form-useradmin"
     style="padding: 20px 0 0 0;">
    <div class="layui-form-item">
        <label class="layui-form-label">员工证件</label>
        <div class="layui-input-inline">
            <img th:src="${empl.avatar}" style="width: 70px;height: 70px;border: 1px solid gainsboro">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">员工姓名</label>
            <div class="layui-input-inline">
                <input type="text" readonly name="name" th:value="${empl.name}" id="nickname" lay-verify="required"
                       placeholder="" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">员工编号</label>
            <div class="layui-input-inline">
                <input type="text" readonly name="uuid" th:value="${empl.uuid}" id="uuid" lay-verify="required"
                       placeholder="" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">员工账号</label>
            <div class="layui-input-inline">
                <input type="text" readonly name="username" th:value="${empl.username}" id="username"
                       lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">员工电话</label>
            <div class="layui-input-inline">
                <input type="text" name="phone" th:value="${empl.phone}" id="email" lay-verify="required" placeholder=""
                       autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">员工性别</label>
            <div class="layui-input-inline">
                <input type="text" readonly name="name" th:value="${empl.sex}" id="sex" lay-verify="required"
                       placeholder="" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">员工职位</label>
            <div class="layui-input-inline">
                <select name="position" lay-verify="required" lay-search="">
                    <option th:selected="${roles.rolna}==${empl.position}" th:each="roles : ${roles}" th:value="${roles.rolna}" th:text="${roles.rolna}">普通员工</option>
                </select>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">入职日期</label>
            <div class="layui-input-inline">
                <input type="text" readonly name="entrytime"
                       th:value="${#dates.format(empl.entrytime, 'yyyy-MM-dd HH:mm:ss')}" id="entrytime"
                       lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">离职日期</label>
            <div class="layui-input-inline">
                <!--                  ${empl.resignationtime==null} ? '暂未离职':-->
                <input type="text" name="resignationtime"
                       th:value="${#dates.format(empl.resignationtime, 'yyyy-MM-dd HH:mm:ss')}" id="resignationtime"
                       lay-verify="" placeholder="" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">任职状态</label>
            <div class="layui-input-inline">
                <input th:if="${empl.status}=='0'" type="text" readonly name="status" th:value="账户正常" id="status" lay-verify=""
                       placeholder="" autocomplete="off" class="layui-input">
                <input th:if="${empl.status}=='1'" type="text" readonly name="status" th:value="账户已锁定"  lay-verify=""
                       placeholder="" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
        <label class="layui-form-label">重置密码</label>
        <div class="layui-input-inline">
            <input type="hidden" th:value="${empl.id}" name="id" id="id"/>
            <input type="text" name="password" value="000000" id="password" lay-verify="required" placeholder="请输入密码"
                   autocomplete="off" class="layui-input">
        </div>
        <a style="float: left" id="updatepass" class="layui-btn layui-btn-danger layui-btn-xs"
           lay-event="updatepass">重置</a>
        </div>
    </div>
    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit lay-filter="LAY-user-back-submit" id="LAY-user-back-submit" value="确认">
    </div>
</div>

<script th:src="@{/layuiadmin/layui/layui.js}"></script>
<script>
    layui.config({
        base: '../layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'form', 'upload'], function () {
        var $ = layui.$
            , form = layui.form
            , upload = layui.upload;
        var uuid = document.getElementById("uuid").value;
        $("#updatepass").click(function () {
            $.ajax({
                url: "/user/updatePass?uuid=" + uuid,
                type: "GET",
                dataType: 'json',
                success: function (res) {
                    if (res.code == 0) {
                        layer.msg(res.msg);
                    } else {
                        layer.msg(res.msg);
                    }
                }
            });
        })
        $("#updatestatus").click(function () {
            $.ajax({
                url: "/user/updateStatus?uuid=" + uuid,
                type: "GET",
                dataType: 'json',
                success: function (res) {
                    if (res.code == 0) {
                        layer.msg(res.msg);
                    } else {
                        layer.msg(res.msg);
                    }
                }
            });
        })
    })
</script>
</body>
</html>